upstream {{item.upstream.name}} {
  {% if item.upstream.ip_hash|defined and item.upstream.ip_hash %}
    ip_hash;
  {% endif %}
  {% for host in groups[item.upstream.server_group] %}
    server {{hostvars[host]["ansible_default_ipv4"]["address"]}}:{{item.upstream.port}};    
  {% endfor %}
}
